<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="logo">
                <%= image_tag("katryo_sketch.png")%>
            </div>
        </div>
    </div>


            <div class="paper drop-shadow rice-paper">

                <div class="row">
                    <div class="col-md-4">
                        <div class="flexslider drop-shadow" id="no-border">
                            <ul class="slides">
                                <li>
                                    <%= image_tag("shot2_icon.jpg")%>
                                </li>
                                <li>
                                    <%= image_tag("seat_icon.jpg")%>
                                </li>
                                <li>
                                    <%= image_tag("rain2_icon.jpg")%>
                                </li>
                            </ul>
                        </div><!--flexslider-->
                    </div><!--col-md-4-->

                    <div class="col-md-3">
                        <ul class="unstyled contacts">
                            <li>
                                <%= link_to image_tag("hatenablog.png", :alt => "はてなブログ") + " Blog", 'http://katryo.hatenablog.com/', :class => "icon", :target => '_blank' %>
                            </li>
                            <li>
                                <%= link_to image_tag("Octocat.png", :alt => "github") + " Github", 'https://github.com/katryo', :class => "icon", :target => '_blank' %>
                            </li>
                            <li>
                                <%= link_to image_tag("twitter_64.png", :alt => "Twitter") + " Twitter", 'http://twitter.com/katryo', :class => "icon", :target => '_blank' %>
                            </li>

                            <!--Font Awesome http://fortawesome.github.com/Font-Awesome -->
                        </ul>
                    </div><!--col-md--->


                    <div class="col-md-3">
                        <ul class="unstyled contacts">
                            <li>
                                <%= link_to image_tag("qiita.png", :alt => "Qiita") + " Qiita", 'http://qiita.com/users/katryo', :class => "icon", :target => '_blank' %>
                            </li>
                            <li>
                                <%= link_to image_tag("pixiv_logo.png", :alt => "pixiv") + " pixiv", 'http://www.pixiv.net/member.php?id=1052400', :class => "icon", :target => '_blank' %>
                            </li>


                            <!--Font Awesome http://fortawesome.github.com/Font-Awesome -->
                        </ul>
                    </div><!--col-md--->




                    <div class="row">
                        <div class="col-md-6">
                            <ul class="unstyled contacts">
                                <li class="mail">
                                    <%= image_tag("gmail-icon48.png", :alt => "mail") %>
                                    katoryo555 ☆ gmail.com
                                </li>
                            </ul>
                        </div>
                    </div><!--row-->

                </div><!--div class="row"-->


                <div class="row">
                    <div class="col-md-12">

                        <div class="patrick">
                            <p>Katryo's products</p>
                        </div><!--patrick-->
                    </div><!--col-md-12-->
                </div><!--row-->


                <section class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="drop-shadow item-image-even tape4">
                                <%= link_to image_tag("denkinovel.jpg"), 'http://denkinovel.com', :target => '_blank' %>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <header><h3>うごく小説投稿サイトDenkinovel</h3></header>
                            <p>ノベルゲームのような演出ができる小説投稿サイトです。テストユーザーを募集しています。ひと味違う物語を紡ぎたい人、ぜひ使ってみてください。</p>
                        </div><!--col-md-5-->
                    </div><!--class="row"-->
                </section><!--item-->


                <section class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="drop-shadow item-image-odd tape1">
                                <%= link_to image_tag("nisehobutton.jpg"), 'http://nisehobutton.heroku.com', :target => '_blank' %>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <header><h3>にせほボタン</h3></header>
                            <p>Twitter APIを使う練習に作ったサイトです。</p>
                        </div><!--col-md-5-->
                    </div><!--class="row"-->
                </section><!--item-->

                <section class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="drop-shadow item-image-even tape2">
                                <%= link_to image_tag("higashi.jpg", :width => "auto"), 'http://higashinoterakoya.herokuapp.com', :target => '_blank' %>
                            </div><!--drop-shadow-->
                        </div><!--col-md-5-->
                        <div class="col-md-5">
                            <header><h3>ゲーム制作サークル「ひがしのてらこや。」</h3></header>
                            <p>友人たちと作った同人ノベルゲームサークルです。代表やってます。</p>
                        </div><!--col-md-5-->
                    </div><!--class="row"-->
                </section>

                <section class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="drop-shadow item-image-odd tape3">
                                <%= link_to image_tag("anathema.jpg", :width => "auto"), 'http://anathemaphysics.herokuapp.com', :target => '_blank' %>
                            </div><!--drop-shadow-->
                        </div><!--col-md-5-->
                        <div class="col-md-5">
                            <header><h3>ノベルゲーム「アナテマ・フィジクス」</h3></header>
                            <p>友人たちと作った同人ノベルゲームです。シナリオ・監督やりました。</p>
                        </div><!--col-md-5-->
                    </div><!--class="row"-->
                </section>

                <section class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="item-image-even drop-shadow tape4">
                                <%= link_to image_tag("katryogift.jpg", :width => "auto"), '/katryogift/index', :target => '_blank' %>
                            </div><!--drop-shadow-->
                        </div><!--col-md-5-->
                        <div class="col-md-5">
                            <header><h3>学生支援サービスKatryogift</h3></header>
                            <p>旬を逃した感のあるジョークサイトです。</p>
                        </div><!--col-md-5-->
                    </div><!--class="row"-->
                </section>

            </div><!--class="paper"-->


                </div><!--div.container-->
